* {
    margin: 0;
    padding: 0;
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.mainsection {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: calc(100vh - 300px);
    align-items: center;
    margin-bottom: 20px;
}

.product-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product-box {
    width: 300px;
    height: 300px;
    margin: 50px;
    border: 1px solid #ccc;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.product-box p {
    color: #000;
}

.product-box:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
}

.image-container img {
    max-width: 100%;
    max-height: 100%;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
}

.popup-content p {
    color: #000;
}

.upperHalf {
    width: 100%;
    height: 20%;
    text-align: center;
}

.upperHalf h3 {
    font-size: 20px;
    margin: 5px;
    letter-spacing: 1px;
}

.lowerHalf {
    width: 100%;
    height: 80%;
    background-size: cover;
    background-position-y: bottom;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.popup-button {
    margin-bottom: 10px;
    font-size: 20px;
    padding: 5px;
    letter-spacing: 1px;
    cursor: pointer;
    background-color: rgba(176, 176, 176, 0.467);
    border: 1px solid #000;
    border-radius: 5px;
}

.popup-button:hover {
    background-color: rgba(150, 150, 150, 0.467);
}

.popup-content h2, p, input, button {
    margin: 10px;
}

.popup-content input {
    font-size: 20px;
    width: 100px;
    border: 1px solid #000;
}

.popup-content button {
    font-size: 20px;
    background-color: #A4DAFF;
    border: 1px solid #000;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.popup-content button:hover {
    background-color: #84b8db;
}